

.category{
  display: grid;
  grid-column-gap: 16px;
  padding: 16px;
  grid-template-columns: 1fr 1fr 1fr;
}

.category .content{
  position: relative;
  margin-bottom: 16px;
  height: 160px;
  border-radius: 3px;
  background-color: hsla(0,0%,100%,.65);
  -webkit-box-shadow: 0 14px 38px rgba(0,0,0,.08), 0 3px 8px rgba(0,0,0,.06);
  box-shadow: 0 14px 38px rgba(0,0,0,.08), 0 3px 8px rgba(0,0,0,.06);
  -webkit-transition: all .3s ease 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
  transition: all .3s ease 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
  transition: all .3s ease 0s,transform .6s cubic-bezier(.6,.2,.1,1) 0s;
  transition: all .3s ease 0s,transform .6s cubic-bezier(.6,.2,.1,1) 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
  overflow: hidden;
  cursor: pointer;
}
.category .content:hover{
  transform: translateY(-4px);
  box-shadow: 0 14px 38px rgba(0,0,0,.14), 0 3px 8px rgba(0,0,0,.12);
}

.category .content:hover .avatar {
  animation-play-state: paused;
  transform: rotate(1turn)
}

.category .content .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.category .content .mate {
  position: relative;
  padding: 0 16px;
  width: 100%;
  height: 100%;
  text-align: justify;
  text-shadow: 0 0 1px rgba(0,0,0,.3);
}

.category .content .mate .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}

.category .content .mate .info span {
  padding: 0 12px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  -webkit-box-shadow: 0 14px 38px rgba(0,0,0,.08), 0 3px 8px rgba(0,0,0,.06);
  box-shadow: 0 14px 38px rgba(0,0,0,.08), 0 3px 8px rgba(0,0,0,.06);
}

.category .content .mate .info .avatar {
  margin: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid hsla(0,0%,100%,.65);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.24);
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.24);
  background-color: rgba(0,0,0,.1);
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out,-webkit-transform 1s ease-out;
}

.category .content .mate p {
  position: absolute;
  bottom: 0;
  padding: 0px 16px;
}



@media (prefers-color-scheme: light) {
  .category .content .mate {
    background-color: hsla(0, 0%, 86%, 0.65);
    color: #666;
  }
  .category .content .mate .info span {
    background-color: hsla(0,0%,100%,.8);
  }
}
@media (prefers-color-scheme: dark) {
  .category .content .mate {
    background-color: hsla(0, 0%, 31%, 0.65);
    color: #fff;
  }
  .category .content .mate .info span {
    background-color: rgba(26, 25, 25, 0.8);
    color: #fff;
  }
}