.cate-title {
  grid-column: span 12;
  margin-bottom: 20px;
  user-select: none;
  display: flex;
  align-items: center;
  span {
    padding-left: 12px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    box-shadow: 0 14px 38px rgba(0,0,0,.08), 0 3px 8px rgba(0,0,0,.06);
    cursor: pointer;
    &::after {
      content: "\58";
      padding-left: 12px;
      padding-right: 8px;
      color: #900;
      font-size: 0.5rem;
    }
  }
}
