@import '../../theme.scss';

.tag {
  width: 100%;
  grid-column: span 12;
  margin-bottom: 25px;
  .tag-item {
    padding: 4px 10px 6px;
    border-radius: 3px;
    -webkit-transition: background .3s ease-out;
    transition: background .3s ease-out;
    cursor: pointer;
    margin: 0px 10px 12px;
    @include dark-light-bg-color(rgba(100,100,100,.4),rgba(100,100,100,.7));
    &:hover {
      background-color: rgba(0,0,0,.3);
      @include dark-light-bg-color(rgba(100,100,100,.2),rgba(100,100,100,.5));
    }
  }
}
