@import '../../theme.scss';
.tag {
  width: 100%;
  grid-column: span 12;
  margin-bottom: 25px;
  animation: easeIns .6s linear;
  display: flex;
  flex-wrap: wrap;
  .tag-item {
    padding: 4px 10px 6px;
    border-radius: 3px;
    -webkit-transition: background .3s ease-out;
    transition: background .3s ease-out;
    cursor: pointer;
    margin: 0px 10px 12px;
    @include dark-light-bg-color(rgba(68, 5, 5, 0.4),rgba(231, 228, 228, 0.7));
    &:hover {
      background-color: rgba(0,0,0,.3);
      @include dark-light-bg-color(rgba(100,100,100,.2),rgba(100,100,100,.5));
    }
  }
}

@keyframes easeIns {
  0% {
    opacity:0;
    transform:translateX(100px);
  }
	25% {
    opacity:0.65;
    transform:translateX(50px);
	}
	55% {
    opacity:0.8;
    transform:translateX(0px);
  }
  75% {
    opacity:0.8;
    transform:translateX(10px);
	}
	100% {
    transform:translateX(0px);
		opacity:1;
	}
}