@import '../../theme.scss';

article img {
  max-width: 100%;
  border-radius: 2px;
}

article {
    grid-row: span 12;
    grid-column: span 12;
    h3 {
        display: inline-block;
        padding: 5px 30px 20px;
        border-radius: 15px;
        background-image: 
            linear-gradient(45deg, transparent 15px, #8dc7b5 0),linear-gradient(-45deg, transparent 15px, #8dc7b5 0);
        background-size: 15px;
        color: #333;
    }
    h4 {
        padding: 10px 30px;
        border-radius: 15px;
        background-image: 
            linear-gradient(-45deg, transparent 10px, #8dc7b5 0),
            linear-gradient(45deg, transparent 10px, #8dc7b5 0),
            linear-gradient(-225deg, transparent 10px, #8dc7b5 0),
            linear-gradient(225deg, transparent 10px, #8dc7b5 0);
        background-size: 15px;
        background-repeat: no-repeat;
        color: #333;
    }
    p {
        user-select: none;
        line-height: 1.75;
    }
    .article-title {
        .mate {
            display: flex;
            justify-content: space-between;
            font-size: 0.85rem;
        }
    }
    blockquote {
        margin: 0;
        box-shadow: 0px 0px 2px 0px rgba(171, 171, 171, 0.753), 0px 0px 2px 0px rgba(171, 171, 171, 0.753);
        border-radius: 5px;
        padding: 15px;
    }
    pre {
        @extend %scrollbar;
        padding: 12px 14px;
        max-height: 600px;
        box-shadow: inset 1px 1px 3px 0px rgba(171, 171, 171, 0.753), inset -1px -1px 3px 0px rgba(171, 171, 171, 0.753);
        overflow: auto;
        border-radius: 5px;
        color: #000;
        line-height: 1.5;
        font-size: 1.125rem;
        background: #fdfdfd63; 
        transition: 1s;
    }
    code {
        width: 100%;
        color: #333;
        line-height: 1.5;
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
          monospace;
        font-size: 400;
        text-shadow: 0 0 1px rgba(0,0,0,.3);
        text-align: left;
        white-space: pre;
        letter-spacing: 0;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        tab-size: 4;
        hyphens: none;
    }
}










article {
    .pl-c {
        color: #6a737d;
    }

    .pl-c1,.pl-s .pl-v {
        color: #005cc5;
    }

    .pl-e,.pl-en {
        color: #6f42c1;
    }

    .pl-s .pl-s1,.pl-smi {
        color: #24292e;
    }

    .pl-ent {
        color: #22863a;
    }

    .pl-k {
        color: #d73a49;
    }

    .pl-pds,.pl-s,.pl-s .pl-pse .pl-s1,.pl-sr,.pl-sr .pl-cce,.pl-sr .pl-sra,.pl-sr .pl-sre {
        color: #032f62;
    }

    .pl-smw,.pl-v {
        color: #e36209;
    }

    .pl-bu {
        color: #b31d28;
    }

    .pl-ii {
        color: #fafbfc;
        background-color: #b31d28;
    }

    .pl-c2 {
        color: #fafbfc;
        background-color: #d73a49;
    }

    .pl-c2:before {
        content: "^M";
    }

    .pl-sr .pl-cce {
        font-weight: 700;
        color: #22863a;
    }

    .pl-ml {
        color: #735c0f;
    }

    .pl-mh,.pl-mh .pl-en,.pl-ms {
        font-weight: 700;
        color: #005cc5;
    }

    .pl-mi {
        font-style: italic;
        color: #24292e;
    }

    .pl-mb {
        font-weight: 700;
        color: #24292e;
    }

    .pl-md {
        color: #b31d28;
        background-color: #ffeef0;
    }

    .pl-mi1 {
        color: #22863a;
        background-color: #f0fff4;
    }

    .pl-mc {
        color: #e36209;
        background-color: #ffebda;
    }

    .pl-mi2 {
        color: #f6f8fa;
        background-color: #005cc5;
    }

    .pl-mdr {
        font-weight: 700;
        color: #6f42c1;
    }

    .pl-ba {
        color: #586069;
    }

    .pl-sg {
        color: #959da5;
    }

    .pl-corl {
        text-decoration: underline;
        color: #032f62;
    }

}