@import "../../theme.scss";
.show-case-bg {
  padding: 1rem;
  border-radius: 3px;
  margin: {
    bottom: 15px;
  }
  animation: easeOut .6s linear;
  @include dark-light-bg-color($dark-bg-color,$light-bg-color);
  .show-case {
    position: relative;
    border-radius: 3px;
    padding: 1rem;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.1);
    height: 100%;
    position: relative;
    width: 100%;
    cursor: pointer;
    a {
      text-decoration: none;
      @include dark-light-color(#fff,#fff);
    }
    @include dark-light-bg-color($dark-container-bg-color,$light-container-bg-color);
    .case-shadow {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      padding: 2rem;
      border-radius: 3px;
      z-index: 1;
    }
    .case-content {
      position: relative;
      z-index: 2;
      .list-tags{
        span {
          border: none;
          @include radial-gradient;
          border-radius: 4px;
          padding: 5px 10px;
          white-space: nowrap;
          margin-right: 8px;
        }
      }
      img {
        max-width: 100%;
        border-radius: 3px;
      }
    }
  }
}
