

.show-case-bg {
  padding: 1rem;
  border-radius: 3px;
}

.show-case {
  border-radius: 3px;
  padding: 1rem;
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.1);
  height: 100%;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.show-case a {
  text-decoration: none;
}

.show-case img {
  max-width: 100%;
  border-radius: 3px;
}

.show-case .list-tags span{
  border: none;
  color: inherit;
  background-color: rgba(100, 100, 100, 0.2);
  border-radius: 4px;
  padding: 2px 0.6rem;
  white-space: nowrap;
  margin-right: 8px;
}

@media (prefers-color-scheme: dark) {
  .show-case-bg {
    background: #121212;
  }
  .show-case {
    background: #232323;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.1);
  }

  .show-case a {
    color: #fff;
  }
}
@media (prefers-color-scheme: light) {
  .show-case-bg {
    background: #ecedee;
  }
  .show-case {
    background: #ffffff;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.1);
  }
  .show-case a {
    color: #000;
  }
}
