header {
  height: 60px;
  background: #fff;
}

header nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

header nav ul li{
  list-style: none;
  height: 100%;
  height: 60px;
  line-height: 60px;
  
  cursor: pointer;
}

header nav ul li a{
  text-decoration: none;
  padding: 0 20px;
  display: block;
  color: #000;
}

@media screen and ( min-width: 375px ) {
  header nav ul{
    justify-content: flex-start;
  }
}
@media screen and ( min-width: 1024px ) {
  header nav ul{
    justify-content: flex-end;
  }
}