
@mixin media-item {
  @media screen and ( min-width: 375px ) {
    grid-column: span 12;
  }
  @media screen and ( min-width: 765px ) {
    grid-column: span 6;
  }
  @media screen and ( min-width: 1024px ) {
    grid-column: span 6;
  }
  @media screen and ( min-width: 1248px ) {
    grid-column: span 6;
  }
}


.cate-item {
  position: relative;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: hsla(0,0%,100%,.65);
  -webkit-box-shadow: 0 14px 38px rgba(0,0,0,.08), 0 3px 8px rgba(0,0,0,.06);
  box-shadow: 0 14px 38px rgba(0,0,0,.08), 0 3px 8px rgba(0,0,0,.06);
  -webkit-transition: all .3s ease 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
  transition: all .3s ease 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
  transition: all .3s ease 0s,transform .6s cubic-bezier(.6,.2,.1,1) 0s;
  transition: all .3s ease 0s,transform .6s cubic-bezier(.6,.2,.1,1) 0s,-webkit-transform .6s cubic-bezier(.6,.2,.1,1) 0s;
  overflow: hidden;
  cursor: pointer;
  animation: easeIn .6s linear;
  @include media-item;
  &::after {
    content: "\A";
  }
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 38px rgba(0,0,0,.14), 0 3px 8px rgba(0,0,0,.12);
  }
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .mate {
    position: relative;
    padding: 0 16px;
    width: 100%;
    height: 100%;
    text-align: justify;
    text-shadow: 0 0 1px rgba(0,0,0,.3);
    background-color: hsla(0, 1%, 66%, 0.72);
    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      span {
        padding: 0 12px;
        height: 40px;
        line-height: 40px;
        border-radius: 3px;
        box-shadow: 0 14px 38px rgba(0,0,0,.08), 0 3px 8px rgba(0,0,0,.06);
      }
    }
  }
}


.post-item {
  @include media-item;
  width: 100%;
  height: 75px;
  margin-bottom: 10px;
  border: none;
  border-top-width: 2px;
  border-top-style: solid;
  background-color: hsla(0,0%,100%,.65);
  box-shadow: 0 14px 38px rgba(0,0,0,.08), 0 3px 8px rgba(0,0,0,.06);
  transition: all .3s ease 0s,
  transform .6s cubic-bezier(.6,.2,.1,1) 0s;
  animation: easeOut .6s linear;
  border-radius: 5px;
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 38px rgba(0,0,0,.14), 0 3px 8px rgba(0,0,0,.12);
  }
  a {
    color:rgb(85, 85, 85);
    text-decoration: none;
    .title {
      margin: 0;
      padding: 6px 14px;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.8;
    }
    .meta {
      display: flex;
      padding: 3px 10px;
      height: 32px;
      font-size: 0.9rem;
      border-top: 1px solid rgba(0,0,0,.08);
      span{
        align-items: center;
        margin-right: 12px;
        background: rgba(0,0,0,0.085);
        padding: 0 5px;
        line-height: 1.65;
        border-radius: 3px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@keyframes easeOut {
  0% {
    opacity:0;
    transform:translateY(100px);
  }
	35% {
    opacity:0.35;
    transform:translateY(65px);
	}
	65% {
    opacity:0.65;
    transform:translateY(35px);
	}
	100% {
    transform:translateY(0px);
		opacity:1;
	}
}

@keyframes easeIn {
  0% {
    opacity:0;
    transform:translateX(100px) ;
  }
	35% {
    opacity:0.35;
    transform:translateX(65px);
	}
	65% {
    opacity:0.65;
    transform:translateX(35px);
	}
	100% {
    transform:translateX(0px);
		opacity:1;
	}
}